---
export const prerender = false

import PageLayout from '@/layouts/Base.astro'
import { actions, isInputError } from 'astro:actions'

import { RECAPTCHA_SITE_KEY } from 'astro:env/client'

const result = Astro.getActionResult(actions.contact)

const inputError = isInputError(result?.error) ? result.error : undefined

if (result?.data) {
  return Astro.redirect(`/contact/thanks?name=${result.data.name}`)
}

const formData = await Astro.request.formData().catch(() => null)

const meta = {
  description: 'Conatact',
  title: 'Contact'
}
---

<script
  is:inline
  src=`https://www.google.com/recaptcha/api.js?render=${RECAPTCHA_SITE_KEY}`
></script>

<script is:inline>
  document.addEventListener('astro:page-load', function () {
    const form = document.getElementById('contact')
    document.getElementById('submitBtn').addEventListener('click', () => {
      if (!form.reportValidity()) return
      // eslint-disable-next-line no-undef
      grecaptcha.ready(function () {
        // eslint-disable-next-line no-undef
        grecaptcha
          .execute(form.dataset.recaptcha_sitekey, { action: 'submit' })
          .then(function (token) {
            document.querySelector('input[name=captcha]').value = token
            form.submit()
          })
      })
    })
  })
</script>

<PageLayout {meta}>
  <div class='m-10 flex w-full flex-col justify-center text-center sm:w-2/3'>
    <h2 class='text-2xl font-bold'>Contact</h2>
    <div class='flex flex-col gap-y-7'>
      {
        result?.error && !isInputError(result?.error) && (
          <div class='text-red-500'>Unknown Error: {result?.error.message}</div>
        )
      }
      <form
        id='contact'
        class='mt-8 flex flex-col items-center gap-y-7'
        method='POST'
        action={actions.contact}
        data-recaptcha_sitekey={RECAPTCHA_SITE_KEY}
      >
        <label class='flex w-full flex-col'>
          <span>Name</span>
          {
            inputError?.fields?.fullName && (
              <span class='text-red-500'>
                Captcha error: {inputError.fields.fullName}
              </span>
            )
          }
          <input
            required
            name='fullName'
            type='text'
            value={formData?.get('fullName')?.toString()}
            minlength='2'
            class='mt-1 rounded-md border border-border bg-primary-foreground p-2 shadow-sm hover:border-foreground/25 hover:shadow-md'
          />
        </label>
        <label class='flex w-full flex-col'>
          <span>Email address</span>
          {
            inputError?.fields?.email && (
              <span class='text-red-500'>{inputError.fields.email}</span>
            )
          }
          <input
            name='email'
            type='email'
            value={formData?.get('email')?.toString()}
            class='mt-1 rounded-md border border-border bg-primary-foreground p-2 shadow-sm hover:border-foreground/25'
            placeholder='email@example.com'
          />
        </label>
        <label class='flex w-full flex-col'>
          <span>Message</span>
          {
            inputError?.fields?.message && (
              <span class='text-red-500'>{inputError.fields.message}</span>
            )
          }
          <textarea
            required
            name='message'
            minlength='2'
            class='mt-1 h-24 rounded-md border border-border bg-primary-foreground p-2 shadow-sm hover:border-foreground/25'
            >{formData?.get('message')?.toString()}</textarea
          >
        </label>
        {
          inputError?.fields?.captcha && (
            <span class='text-red-500'>{inputError.fields.captcha}</span>
          )
        }
        <input type='hidden' name='captcha' />
        <button
          type='button'
          id='submitBtn'
          class='rounded-lg border border-border bg-primary-foreground px-4 py-1 transition hover:bg-border/25'
          >Submit</button
        >
      </form>
    </div>
  </div>
</PageLayout>
