---
export const prerender = true

import type { GetStaticPaths, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'

import Button from '@components/Button.astro'
import Pagination from '@components/Paginator.astro'
import PostPreview from '@components/blog/PostPreview.astro'
import PageLayout from '@layouts/Base.astro'
import { getAllPosts, getUniqueTags, sortMDByDate } from '@utils'
import { Icon } from 'astro-icon/components'

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
	const allPosts = await getAllPosts()
	const allPostsByDate = sortMDByDate(allPosts)
	const uniqueTags = getUniqueTags(allPostsByDate)

	return uniqueTags.flatMap((tag) => {
		const filterPosts = allPostsByDate.filter((post) => post.data.tags.includes(tag))
		return paginate(filterPosts, {
			pageSize: 10,
			params: { tag }
		})
	})
}

interface Props {
	page: Page<CollectionEntry<'project'>>
}

const { page } = Astro.props
const { tag } = Astro.params

const meta = {
	description: `View all posts with the tag - ${tag}`,
	title: `Tag: ${tag}`
}

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			text: 'Previous Tags',
			url: page.url.prev
		}
	}),
	...(page.url.next && {
		nextUrl: {
			text: 'Next Tags',
			url: page.url.next
		}
	})
}
---

<PageLayout meta={meta}>
	<div class='w-full'>
		<Button transition:persist='back' title='Back' href='/projects' style='button'>
			<Icon slot='icon-before' name='heroicons:arrow-left' class='h-4 w-4' />
		</Button>
		<h1 class='mb-6 mt-5 flex items-end gap-x-2 text-2xl font-bold'>
			Tags:
			<span class='text-xl'>#{tag}</span>
		</h1>
		<section aria-label='Project list'>
			<ul class='flex flex-col gap-y-3 text-start'>
				{page.data.map((p) => <PostPreview as='h2' project={p} withDesc />)}
			</ul>
			<Pagination {...paginationProps} />
		</section>
		<a
			href='mailto:michael@payne.cx'
			class='mt-16 inline-flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
		>
			<span class='relative flex items-center justify-center'>
				<span
					class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-blue-400 bg-blue-400 opacity-75'
				></span>
				<span class='relative inline-flex h-2 w-2 rounded-full bg-blue-400'></span>
			</span>

			<p class='font-medium'>Connect</p>
		</a>
	</div>
</PageLayout>
