---
import Button from '@/components/Button.astro'
import { getAllProjects, getUniqueTagsWithCount } from '@/utils/project'
import BaseLayout from '@/layouts/Base.astro'
import CTA from '@/components/CTA.astro'

import MdiArrowLeft from '~icons/mdi/arrow-left'

const allPosts = await getAllProjects()
const allTags = getUniqueTagsWithCount(allPosts)

const meta = {
  description: 'A list of all the topics in my posts',
  title: 'All Tags'
}
---

<BaseLayout {meta}>
  <div class='w-full'>
    <Button text='Back' href='/projects' class='max-w-fit'>
      <MdiArrowLeft class='size-4' />
    </Button>

    <h1 class='mt-5 mb-6 text-2xl font-bold'>Tags</h1>
    {allTags.length === 0 && <p>No posts yet.</p>}

    {
      allTags.length > 0 && (
        <ul class='flex flex-col gap-y-3'>
          {allTags.map(([tag, val]) => (
            <li class='flex items-center gap-x-2'>
              <a
                class='hover:text-foreground/75 inline-block underline underline-offset-4'
                href={`/tags/${tag}/`}
                title={`View projects with the tag: ${tag}`}
              >
                &#35;{tag}
              </a>
              <span class='inline-block'>
                - {val} Project{val > 1 && 's'}
              </span>
            </li>
          ))}
        </ul>
      )
    }
  </div>
  <CTA className='mt-16'>Contact</CTA>
</BaseLayout>
