---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'
import PostPreview from '@/components/blog/PostPreview.astro'

import { Image } from 'astro:assets'
import profilepic from '../assets/profile.png'

import { getAllPosts, sortMDByDate } from '@/utils'

const languages = ['Python', 'Typescript', 'Java', 'Kotlin', 'PHP', 'SQL', 'Go']
const software = ['Creative Cloud', 'Blender', 'Linux', 'VMware ESXi', 'MS Office']
const tools = ['Docker', 'Terraform', 'React', 'NextJS', 'Kubernetes', 'AWS', 'Azure']

const MAX_POSTS = 3
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<Image
				src={profilepic}
				alt='profile'
				width={128}
				class='h-32 w-32 rounded-full p-2'
				loading='eager'
			/>

			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='text-3xl font-bold'>Making cool stuff</h1>
				<a
					href='mailto:michael@payne.cx'
					class='flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
				>
					<span class='relative flex items-center justify-center'>
						<span
							class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-blue-400 bg-blue-400 opacity-75'
						></span>
						<span class='relative inline-flex h-2 w-2 rounded-full bg-blue-400'></span>
					</span>

					<p class='font-medium'>Message</p>
				</a>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					<Label title='Overland Park, KS'>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							slot='icon'
							viewBox='0 0 24 24'
							stroke-width='1.5'
							class='h-6 w-6 fill-none stroke-current'
						>
							<path
								stroke-linecap='round'
								stroke-linejoin='round'
								d='M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z'></path>
							<path
								stroke-linecap='round'
								stroke-linejoin='round'
								d='M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z'
							></path>
						</svg>
					</Label>
					<Label title='21'>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							slot='icon'
							viewBox='0 0 24 24'
							stroke-width='1.5'
							class='h-6 w-6 fill-none stroke-current'
						>
							<path
								stroke-linecap='round'
								stroke-linejoin='round'
								d='M12 8.25v-1.5m0 1.5c-1.355 0-2.697.056-4.024.166C6.845 8.51 6 9.473 6 10.608v2.513m6-4.871c1.355 0 2.697.056 4.024.166C17.155 8.51 18 9.473 18 10.608v2.513M15 8.25v-1.5m-6 1.5v-1.5m12 9.75-1.5.75a3.354 3.354 0 0 1-3 0 3.354 3.354 0 0 0-3 0 3.354 3.354 0 0 1-3 0 3.354 3.354 0 0 0-3 0 3.354 3.354 0 0 1-3 0L3 16.5m15-3.379a48.474 48.474 0 0 0-6-.371c-2.032 0-4.034.126-6 .371m12 0c.39.049.777.102 1.163.16 1.07.16 1.837 1.094 1.837 2.175v5.169c0 .621-.504 1.125-1.125 1.125H4.125A1.125 1.125 0 0 1 3 20.625v-5.17c0-1.08.768-2.014 1.837-2.174A47.78 47.78 0 0 1 6 13.12M12.265 3.11a.375.375 0 1 1-.53 0L12 2.845l.265.265Zm-3 0a.375.375 0 1 1-.53 0L9 2.845l.265.265Zm6 0a.375.375 0 1 1-.53 0L15 2.845l.265.265Z'
							></path>
						</svg>
					</Label>

					<Label
						title='LinkedIn'
						as='a'
						href='https://www.linkedin.com/in/michaelpayne02/'
						target='_blank'
					>
						<svg
							slot='icon'
							class='h-5 w-5 fill-current text-foreground/75'
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 448 512'
							><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
							<path
								d='M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z'
							></path></svg
						>
					</Label>
				</div>
			</div>
		</section>

		<Section title='About'>
			<p class='text-muted-foreground'>
				Solving difficult problems is fun. Throughout my life, I've enjoyed using creativity and
				critical thinking to my advantage in different applications. Finance, technology, and media
				are some of the central interests I have, and I'm always looking to find where innovation is
				in those areas.
			</p>
			<p class='text-muted-foreground'>
				In the future, I hope to pursue a field that fufills my those interests. I like to optimize
				and make systems more efficient, and I think the best way to do that is with a team of
				like-minded people.
			</p>
		</Section>

		<Section title='Designs'>
			<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
				<ProjectCard
					mediaTransitionName='du-open'
					href='/projects/du-open'
					heading='DU Open 2024'
					subheading='Definitely not The Masters Logo'
					imagePath='/src/content/project/du-open.png'
					altText='Example'
					class='w-full sm:w-1/2'
				/>
				<ProjectCard
					mediaTransitionName='delta-scoopsilon'
					href='/projects/du-open'
					href='/projects/delta-scoopsilon'
					heading='Delta Scoopsilon'
					subheading="Fall '23 - Benefitting The Global Service Initiative"
					imagePath='/src/content/project/delta-scoopsilon.png'
					altText='Example'
					class='w-full sm:w-1/2'
				/>
			</div>
			<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
				<ProjectCard
					mediaTransitionName='rush-23'
					heading='Rush 2023'
					href='/projects/rush-23'
					subheading='Greek-themed summer rush design'
					imagePath='/src/content/project/rush.png'
					altText='Lorem, ipsum dolor sit'
					class='w-full sm:w-1/3'
				/>
				<ProjectCard
					mediaTransitionName='formal'
					heading='Cornhusker Formal'
					href='/projects/formal'
					subheading="1920's theme"
					imagePath='/src/content/project/formal.png'
					altText='Lorem, ipsum dolor sit'
					class='w-full sm:w-1/3'
				/>
				<ProjectCard
					mediaTransitionName='bags-for-bryan'
					href='/projects/bags-for-bryan'
					heading='Bags for Bryan'
					subheading="Fall '22 - Benefitting Bryan Health"
					imagePath='/src/content/project/bags-for-bryan.png'
					altText='Bags for Bryan Front Pocket'
					class='w-full sm:w-1/3'
				/>
			</div>
		</Section>

		<Section title='Education'>
			<div
				class='relative w-full grid-cols-3 rounded-xl border border-border bg-primary-foreground px-5 py-3 transition-all hover:border-foreground/25 hover:shadow-sm md:mx-auto md:w-2/3'
			>
				<svg
					class='mb-3 h-12 w-auto fill-current md:absolute md:-left-16 md:mb-0'
					xmlns='http://www.w3.org/2000/svg'
					viewBox='0 0 1243.86 1247.35'
				>
					<path
						class='cls-1'
						d='M523.01,1247.35H0v-368.64h81.18v-509.83H0V.1h439.92c120.16,190.06,240.59,380.53,361.02,571.01.32-.1.64-.21.96-.31v-201.69h-81.02V0h522.89v368.84h-81.19v509.57h81.28v368.79h-439.9c-120.24-190.16-240.67-380.62-361.1-571.09-.31.11-.62.22-.93.34v201.71h81.08v369.18ZM15.84,1231.44h491.36v-337.28h-81.29v-274.51c129.49,204.79,258.29,408.48,386.9,611.88h415.24v-337.26h-81.23V353.09h81.24V15.96h-491.24v337.38h81.24v272.86c-.27.12-.55.24-.82.37C688.48,422.91,559.71,219.24,431.17,15.95H15.94v337.32h81.2v541.08H15.84v337.1Z'
					></path>
					<path
						class='cls-1'
						d='M122.09,327.8H41.03V41.17h376.37c141.24,223.39,282.79,447.26,424.33,671.14l.97-.24v-384.16h-80.85V41.2h440.98v286.45h-81.23v591.81h81.29v286.72h-376.4c-141.46-223.72-283.08-447.69-424.69-671.66-.31.14-.63.28-.94.42v384.36h81.22v286.82H41.04v-286.28h81.05V327.8Z'
					></path>
				</svg>
				<div class='col-span-2 flex flex-col gap-y-1.5'>
					<div class='flex flex-col gap-y-0.5'>
						<h1 class='text-lg font-medium'>University of Nebraska-Lincoln</h1>
						<h2 class='italic text-muted-foreground'>Major: Finance; Minor: Computer Science</h2>
						<h2 class='text-muted-foreground'>Aug 2021 - Current</h2>
					</div>
					<li>
						GPA: <span class='font-firacode'>3.86/4.00</span>
					</li>
					<li>Dean's List: Fall 2021 - Fall 2023</li>
				</div>
			</div>
		</Section>

		<Section title='Leadership'>
			<div
				class='relative grid-cols-3 rounded-xl border border-border bg-primary-foreground px-5 py-3 transition-all hover:border-foreground/25 hover:shadow-sm md:mx-auto md:w-2/3'
			>
				<svg
					class='mb-3 h-12 w-auto fill-current md:absolute md:-left-16 md:mb-0'
					xmlns='http://www.w3.org/2000/svg'
					viewBox='0 0 720 720'
				>
					<polygon class='cls-1' points='304.61 427.77 304.61 406.79 293.74 427.77 304.61 427.77'
					></polygon>
					<polygon class='cls-1' points='415.76 406.08 415.76 427.77 427.01 427.77 415.76 406.08'
					></polygon>
					<path
						class='cls-1'
						d='M200.67,171.13c-.29,0-.56-.02-.84-.02-17.89,0-42.93,17.14-47.86,32.76-1.35,4.3-1,8.72,1.03,12.46,2.01,3.74,5.53,6.45,9.85,7.65.4.11.71.16.92.19,5.82-5.43,11.22-12.62,16.69-20.13,11.31-15.49,24.51-18.74,33.58-18.74,7.46,0,14.91,2.19,22.11,6.53l.21.11c1.35.81,3.29,1.98,5.45,3.61-1.45-1.55-2.88-3.01-4.3-4.35-14.63-13.89-25.31-19.71-36.84-20.08Z'
					></path>
					<path
						class='cls-1'
						d='M541.43,205.92c2.9,5.04,6.74,10.17,11.1,14.82,2.43,2.61,3.93,3.32,4.29,3.46.13-.02.44-.08.93-.24,8.31-2.69,9.78-6.19,10.65-9.85,1.72-7.33,1.69-15.49-10.12-25.52-13.42-11.41-26.99-17.68-38.22-17.68-5.08,0-9.73,1.29-14.2,3.96-4.33,2.59-12.5,9.46-20.27,16.4,3.06-1.64,5.88-2.77,8.01-3.51,4.61-1.6,9.25-2.4,13.81-2.4,14.13,0,26.52,7.49,34.02,20.54Z'
					></path>
					<path
						class='cls-1'
						d='M705.1,185.54c-3.19-47.55-23.16-86.61-57.72-112.92-32.02-24.36-72.75-37.79-114.68-37.79-49.19,0-96.15,17.69-134.05,50.23l-11.12-21.43-27.18-52.43-27.18,52.43-10.99,21.21c-36.17-32.65-83.9-51.06-133.44-51.06-11.88,0-23.61,1.05-35.06,3.14-11.47,2.09-22.7,5.22-33.6,9.36-42.64,16.24-72.87,43.6-89.86,81.32-17.98,39.86-17.32,80.02-14.74,110.55,1.9,22.51,8.65,42.56,20.06,59.59,11.12,16.56,26.68,30.33,46.28,40.9,3.22,1.74,6.43,3.22,9.6,4.53-.08,5.69.52,11.26,1.82,16.68,3.88,16.31,13.87,30.23,28.89,40.27,9.25,6.19,19.85,9.89,31,10.86l-51.48,99.34-23.16,44.7h168.9c-.05.1-.1.18-.15.27-3.11,5.82-6.2,12.89-7.86,18.01-8.46,26.07,1.95,50.77,26.54,62.94,7.61,3.77,16.03,6.9,25.78,9.57l2.92.79c21.12,5.75,32.48,9.3,39.66,20.87l25.64,41.35,26.18-40.99c5.62-8.78,12.97-14.34,37.56-20.4,9.1-2.24,18.71-5.58,28.52-9.91,27.59-12.17,39.11-40.28,28.02-68.39-1.66-4.24-3.74-9.12-6.64-14.12h168.71l-23.17-44.7-12.86-24.8-38.56-74.38c7.33-.73,14.44-2.72,21.17-5.96,26.91-12.84,40.86-35,40.33-62.05,49.76-21.11,66.69-56.96,72.04-84.02,4.37-22.09,5.66-46.84,3.87-73.56ZM139.15,374.66c-17.31-11.57-21.6-29.66-12.34-51.64-10.19-3.7-21.02-6.24-30.46-11.33-30.14-16.25-47.4-41.04-50.36-76.11-2.78-32.88-1.61-64.91,12.14-95.4,14.61-32.41,40.19-52.84,72.86-65.29,61.4-23.39,129.62-10.95,176,39.04l-36.21,69.64c-24.46-30.53-45.89-42.29-69.15-43.03-31.86-1.01-69.7,25.12-78.86,54.12-8.02,25.41,6.24,51.68,31.87,58.82,11.3,3.15,21.81.73,30.02-6.93,7.73-7.22,14.26-15.86,20.53-24.45,4.63-6.34,8.56-8.01,15.23-4.01,1.6.96,3.33,1.96,4.5,3.36,13.22,15.92,24.36,45.12,4.68,67.57-9.44,10.77-21.17,18.01-34.09,23.64-2.68,1.17-5.39,2.28-8.78,3.71,13.69,20.51,13.18,39.09-.97,53.28-12.37,12.41-32.3,14.55-46.6,4.99ZM241.8,195.56c-2.16-1.63-4.09-2.8-5.45-3.61l-.21-.11c-7.2-4.33-14.65-6.53-22.11-6.53-9.07,0-22.27,3.25-33.58,18.74-5.48,7.51-10.88,14.7-16.69,20.13-.21-.03-.52-.08-.92-.19-4.32-1.21-7.83-3.92-9.85-7.65-2.03-3.74-2.38-8.15-1.03-12.46,4.93-15.61,29.97-32.76,47.86-32.76.27,0,.55.02.84.02,11.52.37,22.2,6.19,36.84,20.08,1.42,1.34,2.85,2.8,4.3,4.35ZM439.83,609.5c-7.57,3.34-15.47,6.21-23.49,8.19-21.7,5.34-42.35,12.23-56.04,33.65-14.46-23.33-37.65-28.8-60.51-35.06-6.94-1.9-13.87-4.3-20.3-7.48-11.04-5.46-14.8-14.31-10.99-26.04,1.95-6,9.13-21.59,12.71-21.67h154.81c8.04,0,13.65,14.1,15.69,19.27,5.08,12.88.79,23.55-11.89,29.14ZM591.92,524.39H128.84c77.27-149.08,153.9-296.94,231.51-446.68,77.59,149.66,154.21,297.46,231.57,446.68ZM671.2,253.16c-6.56,33.23-29.98,53.29-61.15,64.59-4.99,1.81-10.28,2.82-16.14,4.38,9,23.43,6.33,43.68-18.23,55.41-15.79,7.54-34.21,1.74-44.62-12.07-10.66-14.14-9.81-31.31,1.75-47.39-12.51-8.07-25.7-14.54-36.37-23.89-24.25-21.22-18.6-48.37-1.98-71.35,2.04-2.82,5.76-4.96,9.15-6.13,4.48-1.55,8.26-.83,11.28,4.44,4.23,7.36,9.5,14.32,15.31,20.53,9.97,10.64,22.24,16.2,37,11.42,15.8-5.12,27.09-15.33,31-31.96,5.38-22.81-2.98-41.32-20.09-55.87-27.48-23.36-66.21-27.74-86.95-15.66-13.59,8.12-20.87,11.87-38.8,35.35-1.83-3.3-37.88-68.72-37.88-68.72,64.68-65.63,153.08-65.9,214.35-19.27,29.51,22.46,43.3,54.55,45.72,90.61,1.46,21.74.85,44.29-3.36,65.58ZM485.6,191.29c7.77-6.94,15.94-13.81,20.27-16.4,4.46-2.67,9.12-3.96,14.2-3.96,11.23,0,24.8,6.27,38.22,17.68,11.81,10.04,11.84,18.19,10.12,25.52-.87,3.66-2.34,7.15-10.65,9.85-.5.16-.81.23-.93.24-.35-.15-1.85-.85-4.29-3.46-4.37-4.66-8.2-9.78-11.1-14.82-7.49-13.05-19.88-20.54-34.02-20.54-4.56,0-9.2.81-13.81,2.4-2.13.74-4.95,1.87-8.01,3.51Z'
					></path>
					<path
						class='cls-1'
						d='M477.37,458.39c-39.1-75.41-77.51-149.47-117.02-225.66-39.5,76.21-77.98,150.43-116.97,225.66h233.99ZM415.76,406.08l11.25,21.69h-11.25v-21.69ZM335.23,347.62l25.06-47.59,24.86,47.59v81.98h-49.92v-81.98ZM304.61,427.77h-10.88l10.88-20.98v20.98Z'
					></path>
				</svg>
				<div class='col-span-2 flex flex-col gap-y-1.5'>
					<div class='flex flex-col gap-y-0.5'>
						<h1 class='text-lg font-medium'>VP Administration</h1>
						<h2 class='italic text-muted-foreground'>Delta Upsilon International Fraternity</h2>
						<h2 class='text-muted-foreground'>Nov 2022 - Nov 2023</h2>
					</div>

					<ul class='list-disc text-muted-foreground'>
						<button
							onclick="window.open('http://www.unldu.org', '_blank')"
							class='relative inline-flex items-center rounded-xl bg-gray-300 px-4 py-2 font-bold text-gray-800 hover:bg-gray-400'
						>
							<svg
								class='mr-2 h-4 w-4 fill-none stroke-current'
								xmlns='http://www.w3.org/2000/svg'
								viewBox='0 0 24 24'
								stroke-width='1.5'
							>
								<path
									stroke-linecap='round'
									stroke-linejoin='round'
									d='M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25'
								></path>
							</svg>

							<span class='mr-3'> unldu.org </span>
							<span
								class='absolute -right-6 -top-2 inline-flex items-center justify-center rounded-full bg-red-600 px-2 py-1 text-xs font-bold leading-none text-red-100'
								>new</span
							>
						</button>
					</ul>
				</div>
			</div>
		</Section>
		{
			allPostsByDate.length > 0 && (
				<Section title='Projects'>
					<ul class='flex flex-col gap-y-2'>
						{allPostsByDate.map((p) => (
							<li class='flex flex-col gap-x-2 sm:flex-row'>
								<PostPreview project={p} />
							</li>
						))}
					</ul>
				</Section>
			)
		}
		<Section title='Skills'>
			<SkillLayout title='Software' skills={software} />
			<SkillLayout title='Languages' skills={languages} />
			<SkillLayout title='Tools' skills={tools} />
		</Section>
	</div>
	<a
		href='mailto:michael@payne.cx'
		class='mt-16 flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
	>
		<span class='relative flex items-center justify-center'>
			<span
				class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-blue-400 bg-blue-400 opacity-75'
			></span>
			<span class='relative inline-flex h-2 w-2 rounded-full bg-blue-400'></span>
		</span>

		<p class='font-medium'>Message</p>
	</a>
</PageLayout>
