---
export const prerender = true

import DUBadge from '@/assets/du_badge.svg'
import Nebraska from '@/assets/nebraska.svg'
import Ink from '@/assets/402ink.svg'
import Profile from '@/assets/profile.png'
import CTA from '@/components/CTA.astro'
import Label from '@/components/Label.astro'
import Section from '@/components/Section.astro'
import SkillLayout from '@/components/SkillLayout.astro'
import PostPreview from '@/components/blog/PostPreview.astro'
import { getAllPosts, sortMDByDate } from '@/data/project'
import PageLayout from '@/layouts/Base.astro'
import { Icon } from 'astro-icon/components'
import { Image, Picture } from 'astro:assets'
import ProjectCard from '../components/ProjectCard.astro'

const languages = ['Typescript', 'Python', 'Java', 'Kotlin', 'PHP', 'SQL', 'Go']
const software = ['Creative Cloud', 'Blender', 'Linux', 'VMware ESXi', 'Office']
const tools = ['Docker', 'Terraform', 'NextJS', 'Kubernetes', 'AWS', 'Azure']

const MAX_POSTS = 3
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} showViewCount={true}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<Picture
				width={128}
				src={Profile}
				alt='profile'
				class='min-w-32 rounded-full p-2'
				loading='eager'
			/>
			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='font-sans text-3xl font-bold'>what's up</h1>
				<CTA>Contact</CTA>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					<Label title='Overland Park, KS'>
						<Icon slot='icon' name='heroicons:map-pin' class='size-5' />
					</Label>
					<Label title='21'>
						<Icon slot='icon' name='heroicons:cake' class='size-5' />
					</Label>
					<Label
						title='LinkedIn'
						as='a'
						href='https://www.linkedin.com/in/michaelpayne02/'
						target='_blank'
					>
						<Icon slot='icon' name='fa6-brands:linkedin' class='size-5 text-foreground/75' />
					</Label>
					<Label
						as='a'
						title='Resume'
						href='https://content.mikepayne.me/file/payne-portfolio/MichaelPayne_Resume_2024.pdf'
						target='_blank'
					>
						<Icon slot='icon' name='heroicons:arrow-down-tray' class='size-5 text-foreground/75' />
					</Label>
				</div>
			</div>
		</section>

		<Section title='About'>
			<p class='text-muted-foreground'>
				Solving difficult problems is fun. Throughout my life, I've enjoyed using creativity and
				critical thinking to my advantage in different applications. Finance, technology, and media
				are some of the central interests I have, and I'm always looking to find where innovation is
				in those areas.
			</p>
			<p class='text-muted-foreground'>
				In the future, I hope to pursue a field that fufills those interests. I like to optimize and
				make systems more efficient, and I think the best way to do that is with a team of
				like-minded people.
			</p>
		</Section>

		<Section title='Designs'>
			<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
				<ProjectCard
					mediaTransitionName='du-open'
					href='/projects/du-open'
					heading='DU Open 2024'
					subheading="Spring '24 tournameant - Definitely not The Masters Logo"
					imagePath='/src/assets/images/du-open.png'
					altText='DU Open 2024 front pocket'
					class='w-full sm:w-1/2'
					loading='eager'
				/>
				<ProjectCard
					mediaTransitionName='delta-scoopsilon'
					href='/projects/du-open'
					href='/projects/delta-scoopsilon'
					heading='Delta Scoopsilon'
					subheading="Fall '23 - Benefitting The Global Service Initiative"
					imagePath='/src/assets/images/delta-scoopsilon.png'
					altText='Delta Scoopsilon front pocket'
					class='w-full sm:w-1/2'
					loading='eager'
				/>
			</div>
			<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
				<ProjectCard
					mediaTransitionName='rush-23'
					heading='Rush 2023'
					href='/projects/rush-23'
					subheading='Greek-themed summer rush design'
					imagePath='/src/assets/images/rush.png'
					altText='Rush 2023 front pocket'
					class='w-full sm:w-1/3'
				/>
				<ProjectCard
					mediaTransitionName='formal'
					heading='Formal'
					href='/projects/formal'
					subheading="1920's theme at the Cornhusker Hotel"
					imagePath='/src/assets/images/formal.png'
					altText='Hotel Formal front oocket'
					class='w-full sm:w-1/3'
				/>
				<ProjectCard
					mediaTransitionName='bags-for-bryan'
					href='/projects/bags-for-bryan'
					heading='Bags for Bryan'
					subheading="Fall '22 - Benefitting Bryan Health"
					imagePath='/src/assets/images/bags-for-bryan.png'
					altText='Bags for Bryan Front Pocket'
					class='w-full sm:w-1/3'
				/>
			</div>
		</Section>

		<Section title='Education'>
			<div
				class='relative grid-cols-4 rounded-xl border border-border bg-primary-foreground/50 bg-gradient-to-b from-secondary/15 px-5 py-3 transition-all hover:border-foreground/25 hover:shadow-sm md:mx-auto md:w-3/4'
			>
				<Image
					alt='University of Nebraska-Lincoln logo'
					src={Nebraska}
					width={64}
					class='mb-3 h-12 w-auto md:absolute md:-left-16 md:mb-0 dark:invert'
				/>
				<div class='flex flex-col gap-y-2'>
					<div class='flex flex-col gap-y-0.5'>
						<h1 class='text-lg font-medium'>University of Nebraska-Lincoln</h1>
						<h2 class='italic text-muted-foreground'>Major: Finance; Minor: Computer Science</h2>
						<h2 class='text-muted-foreground'>Aug 2021 - Current</h2>
					</div>
					<ul class='list-inside list-disc text-muted-foreground'>
						<li>
							GPA: <span class='font-mono'>3.86/4.00</span>
						</li>
						<li>Dean's List: Fall 2021 - Fall 2023</li>
					</ul>
				</div>
			</div>
		</Section>
		<Section title='Experience'>
			<div
				class='relative grid-cols-4 rounded-xl border border-border bg-primary-foreground/50 bg-gradient-to-b from-secondary/15 px-5 py-3 transition-all hover:border-foreground/25 hover:shadow-sm md:mx-auto md:w-3/4'
			>
				<Image
					alt='402iNK logo'
					src={Ink}
					width={64}
					class='mb-3 h-12 w-auto md:absolute md:-left-16 md:mb-0 dark:invert'
				/>
				<div class='flex flex-col gap-y-2'>
					<div class='flex flex-col gap-y-0.5'>
						<h1 class='text-lg font-medium'>402iNK</h1>
						<h2 class='italic text-muted-foreground'>Intern - Web & Design</h2>
						<h2 class='text-muted-foreground'>May 2023 - Current</h2>
					</div>
					<a
						href='https://402.ink'
						target='_blank'
						class='relative mx-auto my-2 inline-flex items-center rounded-lg bg-foreground/90 px-4 py-2 font-bold text-background hover:bg-foreground/80'
					>
						<Icon name='heroicons:arrow-top-right-on-square' class='mr-2 size-4' />
						<span class='mr-3'>402.ink</span>
						<span
							class='absolute -right-5 -top-2 inline-flex items-center justify-center rounded-full bg-red-700 px-2 py-1 text-xs font-bold leading-none text-white'
							>new</span
						>
					</a>
				</div>
			</div>
		</Section>

		<Section title='Leadership'>
			<div
				class='relative grid-cols-4 rounded-xl border border-border bg-primary-foreground/50 bg-gradient-to-b from-secondary/15 px-5 py-3 transition-all hover:border-foreground/25 hover:shadow-sm md:mx-auto md:w-3/4'
			>
				<Image
					src={DUBadge}
					alt='Delta Upsilon International Fraternity'
					width={64}
					class='mb-3 h-12 w-auto md:absolute md:-left-16 md:mb-0 dark:invert'
				/>
				<div class='flex flex-col gap-y-2'>
					<div class='flex flex-col gap-y-0.5'>
						<h1 class='text-lg font-medium'>VP of Administration, T-shirt Chair</h1>
						<h2 class='italic text-muted-foreground'>
							Delta Upsilon International Fraternity - Nebraska Chapter
						</h2>
						<h2 class='text-muted-foreground'>Nov 2022 - Nov 2023</h2>
					</div>

					<a
						href='https://www.unldu.org'
						target='_blank'
						class='relative mx-auto my-2 inline-flex items-center rounded-lg bg-foreground/90 px-4 py-2 font-bold text-background hover:bg-foreground/80'
					>
						<Icon name='heroicons:arrow-top-right-on-square' class='mr-2 size-4' />
						<span class='mr-3'> unldu.org </span>
						<span
							class='absolute -right-5 -top-2 inline-flex items-center justify-center rounded-full bg-red-700 px-2 py-1 text-xs font-bold leading-none text-white'
							>new</span
						>
					</a>
				</div>
			</div>
		</Section>
		<Section title='Skills'>
			<SkillLayout title='Software' skills={software} />
			<SkillLayout title='Languages' skills={languages} />
			<SkillLayout title='Tools' skills={tools} />
		</Section>
		{
			allPostsByDate.length > 0 && (
				<Section title='Projects'>
					<ul class='flex flex-col gap-y-2'>
						{allPostsByDate.map((p) => (
							<li class='flex flex-col gap-x-2 sm:flex-row'>
								<PostPreview project={p} />
							</li>
						))}
					</ul>
				</Section>
			)
		}
	</div>
	<CTA className='mt-16'>Contact</CTA>
</PageLayout>
