---
import type { CollectionEntry } from 'astro:content'

import { Image } from 'astro:assets'
import { truncate } from '@/utils'

interface Props {
  project: CollectionEntry<'projects'>
  className?: string
  heading?: string
  subheading?: string
  loading?: 'lazy' | 'eager',
}

const {
  project,
  className,
  heading,
  subheading,
  loading = 'lazy',
  ...props
} = Astro.props as Props
---

<a
  data-astro-prefetch
  class:list={[
    className,
    'flex flex-col overflow-hidden gap-y-1 rounded-2xl border border-border bg-primary-foreground bg-gradient-to-b from-secondary/50 shadow-sm transition-all hover:border-foreground/25 hover:shadow'
  ]}
  href={`/projects/${project.slug}/`}
  {...props}
>
  {
  project.data.coverImage && (
  <Image
    transition:name=`media-image-${project.slug}`
    src={project.data.coverImage.src}
    alt={project.data.coverImage.alt}
    widths={[320, 720]}
    sizes='(max-width: 640px) 720px, (max-width: 768px) 320px, 320px'
    class='h-48 w-full object-cover'
    loading={loading}
  />
  )
}
  <div class='flex flex-col gap-y-0.5 px-5 py-3'>
    <h1
      class='text-lg font-medium [text-shadow:_0_0_25px_hsl(var(--foreground)/25%)]'
    >
      {heading ?? project.data.title}
    </h1>
    <h2 class='text-muted-foreground'>
      {subheading ?? truncate(project.data.description, 50)}
    </h2>
  </div>

  <slot />
</a>
