---
import type { SiteMeta } from '@/types'

import BaseHead from '@/components/BaseHead.astro'
import SkipLink from '@/components/SkipLink.astro'
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
import ThemeProvider from '@/components/ThemeProvider.astro'

import { siteConfig } from '@/site-config'

import '@fontsource/fira-sans'
import '@fontsource/fira-code'

interface Props {
	meta: SiteMeta
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title }
} = Astro.props
---

<html lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>

	<body class='flex justify-center bg-background'>
		<ThemeProvider />
		<SkipLink />
		<main
			class='flex min-h-screen w-screen max-w-[60rem] flex-col items-center px-8 pb-10 pt-7 font-firasans text-[0.92rem] leading-relaxed sm:px-10 lg:px-10'
		>
			<Header />
			<slot />
			<Footer />
		</main>
	</body>
</html>
