---
import type { SiteMeta } from '@/types'

import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
import SkipLink from '@/components/SkipLink.astro'
import ThemeProvider from '@/components/ThemeProvider.astro'

import { siteConfig } from '@/site-config'

import { AstroFont } from 'astro-font'

interface Props {
	meta: SiteMeta
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title }
} = Astro.props
---

<html lang={siteConfig.lang}>
	<head>
		<AstroFont
			config={[
				{
					name: 'Fira Sans',
					src: [
						{
							style: 'normal',
							weight: '400',
							path: 'https://fonts.gstatic.com/s/firasans/v17/va9B4kDNxMZdWfMOD5VnLK3eRhf6Xl7Glw.woff2'
						}
					],
					preload: true,
					display: 'swap',
					selector: 'body',
					fallback: 'sans-serif'
				},
				{
					name: 'Fira Sans',
					src: [
						{
							style: 'normal',
							weight: '400',
							path: 'https://fonts.gstatic.com/s/firasans/v17/va9E4kDNxMZdWfMOD5Vvl4jLazX3dA.woff2'
						}
					],
					preload: true,
					display: 'swap',
					selector: '',
					fallback: 'sans-serif'
				},
				{
					name: 'Fira Code',
					src: [
						{
							weight: '400',
							style: 'normal',
							path: 'https://fonts.gstatic.com/s/firacode/v22/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7NuzlojwUKQ.woff2'
						}
					],
					preload: true,
					display: 'swap',
					selector: '',
					fallback: 'monospace'
				},
				{
					name: 'Fira Code',
					src: [
						{
							style: 'medium',
							weight: '500',
							path: 'https://fonts.gstatic.com/s/firacode/v22/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_A9sJVD7NuzlojwUKQ.woff2'
						}
					],
					preload: true,
					display: 'swap',
					selector: '',
					fallback: 'sans-serif'
				},
				{
					name: 'Fira Code',
					src: [
						{
							style: 'semibold',
							weight: '600',
							path: 'https://fonts.gstatic.com/s/firasans/v17/va9B4kDNxMZdWfMOD5VnSKzeRhf6Xl7Glw.woff2'
						}
					],
					preload: true,
					display: 'swap',
					selector: '',
					fallback: 'sans-serif'
				},
				{
					name: 'Fira Code',
					src: [
						{
							style: 'bold',
							weight: '700',
							path: 'https://fonts.gstatic.com/s/firacode/v22/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_NprJVD7NuzlojwUKQ.woff2'
						}
					],
					preload: true,
					display: 'swap',
					selector: '',
					fallback: 'sans-serif'
				}
			]}
		/>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>

	<body class='flex justify-center bg-background'>
		<ThemeProvider />
		<SkipLink />
		<main
			class='flex min-h-screen w-screen max-w-[55rem] flex-col items-center px-8 pb-10 pt-7 font-sans text-[0.92rem] leading-relaxed sm:px-10 lg:px-10'
		>
			<Header />
			<slot />
			<Footer />
		</main>
	</body>
</html>
